h1,
h2,
p,
a,
input {
  font-family: "Courier New", "Trebuchet MS";
}

p {
  font-size: 1.3rem;
}

form input[type="text"],
.notes-transposed {
  font-size: 1.3rem;
  font-weight: bold;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
}

form input[type="text"] {
  height: 2rem;
  border: 1px gray solid;
  letter-spacing: 1rem;
}

form div {
  display: flex;
}

form div a,
form input[type="submit"] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  text-decoration: none;
  color: gray;
  border: 1px gray solid;
  box-sizing: border-box;
  padding: 1rem;
  font-size: 1.3rem;
  margin: 1rem 1rem 0 0;
}

form div a {
  margin: 1rem 0 0 1rem;
}

form div a:hover,
form input[type="submit"]:hover {
  cursor: pointer;
  background: darkgray;
  color: white;
}

.notes-transposed {
  background: lightgray;
  letter-spacing: 1rem;
}

body {
  display: flex;
  justify-content: center;
}

.main-content {
  width: 90%;
}

@media screen and (min-width: 1025px) {
  .main-content {
    width: 50%;
  }
}

@media screen and (min-width: 1920px) {
  .main-content {
    width: 40%;
  }
}
