
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200&display=swap');

h1,
h2,
p,
a,
li,
input,
::placeholder {
  font-family: 'Barlow Semi Condensed', "Trebuchet MS";
  font-weight: 200;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin: 4rem 0 0;
}

h1, h2 {
  font-weight: bold;
}

p, li {
  font-size: 1.3rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 3rem 0 0
}

label {
  display: block;
  margin: 0 0 1rem;
}

.sr-only {
  display: none;
}

form input[type="text"],
.notes-transposed {
  font-size: 1.3rem;
  font-weight: bold;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
}

form input:disabled {
  background: #91f5ff;
  color: #0077a3;
  border: 2px #00e9ff solid;
}

form li:nth-child(3) {
  display: flex;
  justify-content: center;
}

form input[type="submit"] {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #0077a3;
  border: 2px #0077a3 solid;
  box-sizing: border-box;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1rem 1rem 0 0;
  transition: all .2s;
}

form input[type="submit"]:hover {
  cursor: pointer;
  background: #91f5ff;
  color: #0077a3;
}

body {
  display: flex;
  justify-content: center;
  padding: 0 0 4rem;
}

hr {
  height: 2px;
  background-color: #0077a3;
  border: 0;
  margin: 4rem 0;
}

.main-content {
  width: 90%;
}

@media screen and (min-width: 1025px) {
  .main-content {
    width: 50%;
  }
  form input[type="submit"] {
    width: 30%;
  }
}

@media screen and (min-width: 1920px) {
  .main-content {
    width: 40%;
  }
}
